<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <configSections>
    <section name="commerceEngine"
             type="Commerce.Configuration.CommerceEngineConfigurationSection,Commerce.Configuration"/>
  </configSections>

  <commerceEngine>
    <paymentProvider name="acmePayment"
                     type="Commerce.Providers.PaymentProvider, Commerce.Providers"
                     login="pingo"
                     password="07061971"/>
    <mailingProvider name="acmeMailer"
                     type="Commerce.Providers.MailingProvider, Commerce.Providers"
                     fromAddress="al.ri@gmx.at"
                     smtpServer="mail.gmx.net"/>
    <shippingProvider name="acmeShipping"
                      type="Commerce.Providers.ShippingProvider, Commerce.Providers"/> 
    <modules>
      <add name="ItemPromotionModule"
           type="Commerce.Modules.ItemPromotionModule, Commerce.Modules"
           startPromotionDate="01/04/2016"
           endPromotionDate="01/05/2016"/>
      <add name="SkuMinerModule"
           type="Commerce.Modules.SkuMinerModule, Commerce.Modules" />
      <add name="ValidateCustomerModule"
           type="Commerce.Modules.ValidateCustomerModule, Commerce.Modules" />
      <add name="AdjustInventoryModule"
           type="Commerce.Modules.AdjustInventoryModule, Commerce.Modules" />
      <add name="SetShippingCost"
           type="Commerce.Modules.ShippingCostModule, Commerce.Modules" />
      <add name="UpdateCart"
           type="Commerce.Modules.UpdateCartModule, Commerce.Modules" />
      <add name="Billing"
           type="Commerce.Modules.BillingModule, Commerce.Modules" />
      <add name="SendNotification"
           type="Commerce.Modules.SendNotificationModule, Commerce.Modules" />
    </modules>
  </commerceEngine>

  <startup>
    <supportedRuntime version="v4.0"
                      sku=".NETFramework,Version=v4.5.2"/>
  </startup>

</configuration>
